doctype html
//
	. 
	$$$$$$$\   $$$$$$\   $$$$$$\  $$\   $$\  $$$$$$\  $$\   $$\ $$\     $$\ $$$$$$$$\ $$\   $$\
	$$  __$$\ $$  __$$\ $$  __$$\ $$$\  $$ |$$  __$$\ $$ |  $$ |\$$\   $$  |$$  _____|$$$\  $$ |
	$$ |  $$ |$$ /  $$ |$$ /  $$ |$$$$\ $$ |$$ /  \__|$$ |  $$ | \$$\ $$  / $$ |      $$$$\ $$ |
	$$$$$$$\ |$$$$$$$$ |$$ |  $$ |$$ $$\$$ |$$ |$$$$\ $$ |  $$ |  \$$$$  /  $$$$$\    $$ $$\$$ |
	$$  __$$\ $$  __$$ |$$ |  $$ |$$ \$$$$ |$$ |\_$$ |$$ |  $$ |   \$$  /   $$  __|   $$ \$$$$ |
	$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |\$$$ |$$ |  $$ |$$ |  $$ |    $$ |    $$ |      $$ |\$$$ |
	$$$$$$$  |$$ |  $$ | $$$$$$  |$$ | \$$ |\$$$$$$  |\$$$$$$  |    $$ |    $$$$$$$$\ $$ | \$$ |
	\_______/ \__|  \__| \______/ \__|  \__| \______/  \______/     \__|    \________|\__|  \__|
	Coding by: Bao Nguyen
	Tel: 0.96.96.89.89.3
	Email: baonguyenyam@gmail.com
	URL: fb.com/pham.nguyen.bao.nguyen,
	baonguyenyam.github.io
	baonguyenyam.blogspot.com
html(lang='en')
	- var text = Math.random()

	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		title Canh Cam - All-In-One Website Builder tool by Bao Nguyen
		if process.env.NODE_ENV === 'production'
			link(rel='stylesheet', integrity=val, href='/views/core.min.css?v='+text)
			link(rel='stylesheet', integrity=val, href='/views/app.min.css?v='+text)
		else 
			link(rel='stylesheet', integrity=val, href='/css/bootstrap.min.css?v='+text)
			link(rel='stylesheet', integrity=val, href='/css/font-awesome.min.css?v='+text)
			link(rel='stylesheet', integrity=val, href='/css/bootstrap-colorpicker.min.css?v='+text)
			link(rel='stylesheet', integrity=val, href='/css/select2.min.css?v='+text)
			link(rel='stylesheet', integrity=val, href='/css/bootstrap-tour.min.css?v='+text)
			link(rel='stylesheet', integrity=val, href='/css/main.css?v='+text)
			script(integrity=val, src='/js/jquery-3.2.1.slim.min.js?v='+text)
			script(integrity=val, src='/js/popper.min.js?v='+text)
			script(integrity=val, src='/js/bootstrap.min.js?v='+text)
			script(integrity=val, src='/js/sortable.min.js?v='+text)
			script(integrity=val, src='/js/bootstrap-colorpicker.min.js?v='+text)
			script(integrity=val, src='/js/jquery-quickedit.js?v='+text)
			script(integrity=val, src='/js/typeahead.jquery.min.js?v='+text)
			script(integrity=val, src='/js/select2.full.min.js?v='+text)
			script(integrity=val, src='/js/bootstrap-tour.min.js?v='+text)
			script(integrity=val, src='/js/keymaster.js?v='+text)
	body(id=key)
		script(integrity=val, src='/views/cab.js?v='+text)
		script(integrity=val, src='/views/modal.js?v='+text)
		if process.env.NODE_ENV === 'production'
			script(integrity=val, src='/views/core.min.js?v='+text)
			script(integrity=val, src='/views/app.min.js?v='+text)
		else 
			script(integrity=val, src='/js/core.js?v='+text)
			script(integrity=val, src='/js/main.js?v='+text)
			script(integrity=val, src='/js/key.js?v='+text)
			script(integrity=val, src='/js/tour.js?v='+text)
